

__pycache__/
*.py[cod]


venv/
.env/
.venv/
env/


*.egg-info/
*.egg
dist/
build/
*.whl


*.log
*.sqlite3
*.db


.env.local
.env.dev
.env.prod
secrets.ini



.mt/
*.bak
*.tmp


*.zip
*.apk
*.tar.gz


.idea/
.vscode/
*.swp
